
/*********
 * Fonts *
 *********/

@font-face {
  font-family: avenirRegular;
  src: url('../fonts/AvenirNextRegular.otf') format('opentype');
}

@font-face {
  font-family: avenirBold;
  src: url('../fonts/AvenirNextLTProBold.otf') format('opentype');
}

/**************
 * App Styles *
 **************/

b {
  color: #eaeaea;
}

div#app-content {
  width: calc(100% - 76px);
  height: calc(100% - 76px);

  margin: 36px;
  position: relative;
  overflow: hidden;

  color: #FFF;
}

div#app-title {
  width: 10%;
  max-width: 110px;

  position: absolute;
  top: 0px;
  left: 0px;
}

svg {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

div#fragments-front,
div#fragments-back {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

div#mobile-fallback {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0px;
  left: 0px;

  background: white;
}

div#mobile-fallback img {
  width: auto;
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

div#fragments-front.clickable {
  pointer-events: initial !important;
}

div#logo-lab, div#logo-conf {
  width: 100%;

  position: relative;
  float: left;
}

div#logo-conf {
  margin-top: 10px;
}

div#logo-lab img,
div#logo-conf img {
  width: 100%;
  height: auto;
}

div#footer {
  width: 100%;
  height: 100px;

  position: fixed;
  bottom: 0;
}

div#footer div#sponsors {
  width: 45%;
  max-width: 585px;
  height: 64px;

  margin-left: auto;
  margin-right: auto;
}

div#sponsors img {
  width: 100%;
  height: auto;
}

/****************
 * Vimeo Player *
 ****************/

div#fragment-show {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;

  display: none;
}

div#fragment-show-content {
  max-width: 640px;

  position: absolute;
  top: 48%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: #ffffff;
  font-family: avenirRegular;
  font-size: 12pt;
  font-weight: 200;
}

div#fragment-show-close {
  font-size: 16pt;
  font-family: sans-serif;
  cursor: pointer;
}

div#vimeo-video,
div#fragment-show-close,
div#show-prev,
div#show-next {
  position: relative;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;

  font-family: avenirRegular;
  font-size: 12pt;
}

div#show-prev,
div#show-next {
  cursor: pointer !important;
}

div#fragment-show-close,
div#show-next {
  float: right;
}

/****************
 * Social media *
 ****************/

div#social-media {
  width: 2.5%;
  max-width: 32px;
  height: 64px;

  position: absolute;
  top: 50%;
  left: 100%;

  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

div#social-media > * {
  width: 100%;

  position: relative;
  float: left;

  cursor: pointer;
}

div#social-media > *:nth-child(2) {
  margin-top: 4px;
}

div#social-media > *:hover img:nth-child(1),
div#social-media > * img:nth-child(2) {
  display: none;
}

div#social-media > * img:nth-child(1),
div#social-media > *:hover img:nth-child(2) {
  display: inherit;
}

div#social-media img {
  width: 100%;
  height: auto;
}
