
/*********************
 * Navigation styles *
 *********************/

::-webkit-scrollbar {
  display: none;
}

div#nav {
  width: 15%;
  max-width: 130px;

  float: right;
  background: rgba(0, 0, 0, 0.25);
}

div#nav * {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  user-drag: none !important;

  cursor: default !important;
}

div#nav a:link,
div#nav a:visited,
div#nav a:hover,
div#nav a:active {
  color: #cecece;
  text-decoration: none;
}

div#nav a:hover {
 text-decoration: underline;
}

ul.nav-list-1 {
  width: 100%;

  margin: 0;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

li.nav-item {
  width: 100%;

  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;

  color: #666666;
}

ul.nav-list-1 > li.nav-item {
  height: 18px;

  padding-left: 10px;
  padding-top: 2px;

  font-family: avenirRegular;
  font-size: 10.5pt;
}

ul.nav-list-1 > li.nav-item:hover {
  background: rgba(0, 0, 0, 0.7);
  color: #eaeaea;
}

ul.nav-list-1 > li.nav-item > span {
  width: 100%;
}

ul.nav-list-2 {
  position: relative;
  padding: 0;
  margin: 0;
  display: none;
}

ul.nav-list-1 > li.nav-item:hover > ul.nav-list-2 {
  display: inherit;
  list-style: none;
}

li.nav-item[nav-id="lab22"] ul.nav-list-2 {
  width: 350px;
  height: 340px;

  background: rgba(0, 0, 0, 0.7);
  margin-left: -360px;
  margin-top: -21px;
}

li.nav-item[nav-id="credits"] ul.nav-list-2 {
  width: 270px;
  height: 510px;

  background: rgba(0, 0, 0, 0.7);
  margin-left: -280px;
  margin-top: -21px;
}

li.nav-item[nav-id="transmedia"] ul.nav-list-2 {
  width: 110px;
  height: 120px;

  background: rgba(0, 0, 0, 0.25);
  margin-left: -120px;
  margin-top: -21px;
  padding-top: 5px;
  padding-bottom: 5px;
}

li.nav-item[nav-id="program"] ul.nav-list-2 {
  width: 180px;
  height: 26px;

  background: rgba(0, 0, 0, 0.7);
  margin-left: -190px;
  margin-top: -21px;
}

li.nav-item[nav-id="lab22"] ul.nav-list-2 li.nav-item,
li.nav-item[nav-id="credits"] ul.nav-list-2 li.nav-item {
  padding-top: 10px;
}

li.nav-item[nav-id="program"] ul.nav-list-2 li.nav-item {
  padding-top: 5px;
}

li.nav-item[nav-id="transmedia"] ul.nav-list-2 li.nav-item {
  width: 100px;
  height: 18px;

  padding-left: 10px;
  padding-top: 2px;
}

li.nav-item[nav-id="transmedia"] ul.nav-list-2 li.nav-item.hover {
  background: rgba(0, 0, 0, 0.7);
  color: #eaeaea;
}

li.nav-item[nav-id="lab22"] ul.nav-list-2 p,
li.nav-item[nav-id="credits"] ul.nav-list-2 div.credits-block,
li.nav-item[nav-id="program"] ul.nav-list-2 a {
  width: 90%;
  text-align: justify;
  font-family: avenirRegular;
  font-size: 10.5pt;
  color: #9e9e9e;
  font-weight: lighter;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

li.nav-item[nav-id="credits"] ul.nav-list-2 li.nav-item > div {
  height: 487px;
  overflow-y: scroll;
}

li.nav-item[nav-id="credits"] ul.nav-list-2 div.credits-block {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: left;
}

li.nav-item[nav-id="credits"] ul.nav-list-2 div.title {
  font-size: 8.7pt;
  color: #eaeaea;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

li.nav-item[nav-id="credits"] ul.nav-list-2 div.subtitle,
li.nav-item[nav-id="credits"] ul.nav-list-2 div.names {
  font-size: 8.4pt;

  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

li.nav-item[nav-id="credits"] ul.nav-list-2 div.subtitle {
  text-decoration: underline;
  margin-top: 6px;
}

li.nav-item[nav-id="program"] ul.nav-list-2 li.nav-item > a {
  color: #e0e0e0;

  font-family: avenirRegular;
  font-size: 10.5pt;
  font-weight: lighter;
  text-decoration: none;

  margin-left: 18px;
}

li.nav-item[nav-id="program"] ul.nav-list-2 li.nav-item i {
  margin-left: 6px;
}
