
/*******************
 * Fragment Styles *
 *******************/

div.fragment-container {
  width: 192px;

  position: absolute;
  top: 0px;
  left: 0px;

  opacity: 0.6;
  z-index: 0;

  pointer-events: none;
  transform-origin: center center;
}

div.fragment-info {
  width: 100%;

  position: relative;
  float: left;

  margin-top: 4px;
  transition: opacity 0.4s linear;
}

div.fragment-info div {
  width: 100%;

  position: relative;
  float: left;

  fill: white;
  font-family: avenirRegular;
  font-size: 8.5pt;

  margin: 0px;
}

div.fragment-video {
  width: 192px;
  height: 108px;

  position: relative;
  float: left;

  pointer-events: initial !important;
}

div.fragment-video img,
div.fragment-video video {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0px;
  left: 0px;

  pointer-events: none;
}

/*******************
 * TimeLine Styles *
 *******************/

g#timeline-axis rect {
  fill: white;
  stroke: white;
}

g#timeline-axis text {
  fill: white;
  font-family: avenirRegular;
  font-size: 12pt;

  alignment-baseline: middle;
}

g#timeline-axis text#end-date {
  text-anchor: end;
}

g.node rect.duration {
  fill: rgba(255, 255, 255, 0.3);
}

g.node g.time-mark circle:nth-child(1) {
  fill: white;
  stroke: none;
  opacity: 0.4;
}

g.node g.fragment rect.fragment-frame {
  width: 192px;
  height: 108px;

  stroke: none;
  fill: none;

  transform: translate(-50%, -50%);
}

g.node g.fragment circle {
  fill: white;
  stroke: none;
}

line.link {
  stroke: white;
}
